---
layout: default
title: Recent  & Bookmarked
---

<!--<h1 class="aside-title">About</h2>!-->

{% if site.author.about %}
<aside class="author">


  {% if site.author.photo %}
  <img class="me" src="{{ site.author.photo }}" alt="{{ site.author.name }}"/>
  {% endif %}

  {{ site.author.about | markdownify }}
</aside>
{% endif %}

<br>
<br>
<br>




  <h1 class="page-title">{{ page.title }}</h1>
<hr/>

{% for post in site.posts %}
<font face = 'IM Fell DW Pica'>
      <a href="{{ site.baseurl }}{{ post.url }}">
          <span>{{ post.title }}</span></a></font>
      <font face =  'IM Fell DW Pica' color="#b8b8b8" size='small'>{{ post.date | date: "%m/%d/%y" }}</font></small><br>
  <!-- {% if forloop.last %}</ul><hr/>{% endif %} !-->


{% endfor %}

{% if false %}
 <div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>

    {{ post.content }}
  </div>
  {% endfor %}
</div>



<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div> -->
{% endif %}


<hr>
